html, body {
  margin: 0;
  padding: 0;
}

body {
  color: 	#c32b2b;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
canvas {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

a {
  color:#c32b2b;
}